<gallery-edit [gallery]="gallery" (onStartEdit)="onClick()"></gallery-edit>

<div class="row">
	<div class="pull-right">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" (click)="onAddClick()" class="btn btn-default" id="galleryAdd" title="Add gallery" data-toggle="tooltip"><span class="glyphicon glyphicon-plus"></span></button>
			<button type="button" (click)="onEditClick()" class="btn btn-default" id="galleryEdit" title="Edit gallery" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></button>
			<button type="button" class="btn btn-default" id="galleryDelete" title="Delete gallery" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span></button>
		</div>
	</div>
</div>