.thumbnail {
    height: 300px;
}

.thumbnail-img {
    width: 100%;
}

.thumbnail-generating {
    width: 64px;
    height: 64px;
    margin: 62px 109px;
}

.thumbnail-image-container {
    max-height: 188px;
    display: block;
    overflow: hidden;
}

.moa-page {
    width: 1140px;
}