.thumbnail {
    height: 300px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail-image-container {
    max-height: 188px;
    display: block;
    overflow: hidden;
}

.moa-page {
    width: 1140px;
}