{% include 'include/html_header.html' %}
	<app-root [preload]="{[preload | json_encode()]}"></app-root>

	<script type="text/javascript" src="/src/frontend/dist/inline.bundle.js"></script>
	<script type="text/javascript" src="/src/frontend/dist/polyfills.bundle.js"></script>
	<script type="text/javascript" src="/src/frontend/dist/styles.bundle.js"></script>
	<script type="text/javascript" src="/src/frontend/dist/vendor.bundle.js"></script>
	<script type="text/javascript" src="/src/frontend/dist/main.bundle.js"></script>
{% include 'include/html_footer.html' %}