{% include 'include/html_header.html' %}
	<div class="error pull-right" style="position: fixed; top: 0; right: 0" id="editErrorContainer"></div>
	<div class="success pull-right" style="position: fixed; top: 0; right: 0" id="editSuccessContainer"></div>

	<app-root [preload]="{[preload | json_encode()]}"></app-root>

	<script type="text/javascript" src="/media/code/inline.bundle.js"></script>
	<script type="text/javascript" src="/media/code/polyfills.bundle.js"></script>
	<script type="text/javascript" src="/media/code/styles.bundle.js"></script>
	<script type="text/javascript" src="/media/code/vendor.bundle.js"></script>
	<script type="text/javascript" src="/media/code/main.bundle.js"></script>

	<!--<script type="text/javascript" src="/src/frontend/dist/inline.fa2aa6d00ba36c3ee0c0.bundle.js"></script>
	<script type="text/javascript" src="/src/frontend/dist/polyfills.32225f5d64cec6731cb0.bundle.js"></script>
	&lt;!&ndash;<script type="text/javascript" src="/src/frontend/dist/styles.d41d8cd98f00b204e980.bundle.js"></script>&ndash;&gt;
	<script type="text/javascript" src="/src/frontend/dist/main.b724b2b6e46f01465617.bundle.js"></script>-->
{% include 'include/html_footer.html' %}